# Project 02 - Due Friday, November 11 at 12pm

*Objectives*: Gain experience loading a transactional dataset into a relational database model you define yourself and using SQL to explore its contents. Transform the data into a star schema, documenting the schema visually, and explore the transformed data analytically by writing and executing a number of SQL queries using common syntax and functions and describing your findings.  Gain practice working on these tasks with a partner.

*Grading criteria*: The tasks should all be completed, and questions should all be answered with SQL queries, diagrams, and charts in the space provided, unless a text answer is requested.  The notebook itself should be completely reproducible at datanotebook.org, from start to finish: another person should be able to use the same code to obtain the same results as yours.  Note that you will receive no more than partial credit if you do not add text/markdown cells explaining your thinking at each major step in each problem.

*Attestation*: **Work in pairs**.  At the end of your submitted notebook, identify the work each partner performed and attest that each contributed substantially to the work.

*Deadline*: Friday, November 11, 12pm.  One member of each pair must submit your notebook to Blackboard; you should not both submit it separately.  You may each push a copy to your own GitHub repository.


## Setup - select and obtain data

The US City Open Data Census has a variety of [transactional data from all over the country](http://us-city.census.okfn.org/).  Select one topic and one city from this Census, download the data, and explain your reason for this choice before proceeding.  Provide a link to the web page for the data set you've chosen.

I strongly encourage you to select a dataset from among the following topics:  Crime, Property Assessment, Campaign Finance Contributions, Service Requests (311), and Web Analytics.

By *transactional* data I mean records at the grain of one event per business process.  In the case of Service Requests (311), for example, that would require data at the level of each individual report of a service request.  If this isn't clear, think about the bike trip data - each individual ride was included - and look for data at that level of event/process specificity.  Avoid data like the Connecticut boating data, which was summarized by year, not individual transactions.

Please aim for a dataset of at least 10,000 individual records, but less than 250,000 records.  A little more or a little less is okay, but try to stay within these limits.

In [2]:
!wget https://data.baltimorecity.gov/api/views/wsfq-mvij/rows.csv

--2016-11-04 22:50:05--  https://data.baltimorecity.gov/api/views/wsfq-mvij/rows.csv
Resolving data.baltimorecity.gov (data.baltimorecity.gov)... 52.206.140.205
Connecting to data.baltimorecity.gov (data.baltimorecity.gov)|52.206.140.205|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv.1’

rows.csv.1              [   <=>                ]  32.92M  74.4MB/s   in 0.4s

Last-modified header invalid -- time-stamp ignored.
2016-11-04 22:50:06 (74.4 MB/s) - ‘rows.csv.1’ saved [34515653]

## Problem 1 - examine the data (20 points)

Use `csvstat`, `pandas`, or other tools as you see fit and observe the contents of your dataset.  Review important points from any metadata provided.  Describe what you see:  What do the columns mean?  Are there null values?  Which columns interest you the most?  Which columns present some opportunities, challenges, or questions you would like to ask?

In [5]:
!wc -l rows.csv

283615 rows.csv

In [6]:
!shuf -n 10000 rows.csv | csvstat

  1. 12/12/2014
	<class 'datetime.date'>
	Nulls: False
	Min: 2011-01-01
	Max: 2016-10-29
	Unique values: 2104
	5 most frequent values:
		2015-10-20:	18
		2014-03-01:	16
		2015-04-27:	14
		2012-07-16:	12
		2011-06-19:	12
  2. 23:20:00
	<class 'str'>
	Nulls: False
	Unique values: 1289
	5 most frequent values:
		17:00:00:	268
		18:00:00:	247
		16:00:00:	246
		12:00:00:	235
		20:00:00:	224
	Max length: 8
  3. 4E
	<class 'str'>
	Nulls: False
	Unique values: 69
	5 most frequent values:
		4E:	1651
		6D:	1339
		5A:	966
		7A:	880
		6G:	568
	Max length: 4
  4. 1700 PONCABIRD PS
	<class 'str'>
	Nulls: True
	Unique values: 6281
	5 most frequent values:
		300 LIGHT ST:	24
		200 E PRATT ST:	24
		3200 TIOGA PW:	17
		6300 EASTERN AV:	17
		0 MARKET PL:	16
	Max length: 38
  5. COMMON ASSAULT
	<class 'str'>
	Nulls: False
	Unique values: 15
	5 most frequent values:
		LARCENY:	2284
		COMMON ASSAULT:	1651
		BURGLARY:	1604
		LARCENY FROM AUTO:	1339
		AGG. ASSAULT:	940
	Max length: 20
  6. O
	<class 'str'>
	Nulls: True
	Values: O, Outside, Inside, I
  7. HANDS
	<class 'str'>
	Nulls: True
	Values: HANDS, FIREARM, KNIFE, OTHER
  8. 233
	<class 'int'>
	Nulls: True
	Min: 111
	Max: 944
	Sum: 5024031
	Mean: 502.7047228337002
	Median: 444.0
	Standard Deviation: 261.10989945129324
	Unique values: 137
	5 most frequent values:
		111:	337
		212:	191
		913:	181
		922:	174
		211:	164
  9. SOUTHEASTERN
	<class 'str'>
	Nulls: True
	Unique values: 10
	5 most frequent values:
		NORTHEASTERN:	1608
		SOUTHEASTERN:	1402
		CENTRAL:	1182
		SOUTHERN:	1159
		NORTHERN:	1103
	Max length: 12
 10. Canton Industrial Area
	<class 'str'>
	Nulls: True
	Unique values: 272
	5 most frequent values:
		Downtown:	332
		Frankford:	241
		Belair-Edison:	215
		Brooklyn:	182
		Cherry Hill:	155
	Max length: 33
 11. (39.2728900000, -76.5531300000)
	<class 'str'>
	Nulls: True
	Unique values: 8212
	5 most frequent values:
		(39.2876100000, -76.5398200000):	23
		(39.3180000000, -76.6582100000):	23
		(39.3186800000, -76.6539900000):	20
		(39.2850000000, -76.6130900000):	20
		(39.2865900000, -76.6120400000):	18
	Max length: 31
 12. 1
	<class 'int'>
	Nulls: False
	Values: 1

Row count: 9999

In [7]:
!csvcut -n rows.csv

  1: CrimeDate
  2: CrimeTime
  3: CrimeCode
  4: Location
  5: Description
  6: Inside/Outside
  7: Weapon
  8: Post
  9: District
 10: Neighborhood
 11: Location 1
 12: Total Incidents

## Problem 2 - define a database model, load the data, and explore (20 points)

Based on what you found above, create and connect to a new database, define a database table in it, and load this dataset into it.  You may use either of the methods for this step you have seen in earlier class notebooks.  You may choose to eliminate variables/columns if they are not relevant or interesting to you - explain your reasoning if you do.  Either way, you should load a majority of the columns present in the source dataset as it is in its raw form into the database, and all of its rows.

Once your data has loaded successfully, run a `COUNT(*)` query to verify that all the data has loaded correctly.

Explore the data to zero in on a few themes you would like to further study analytically.  Discuss columns that present opportunities for extraction into dimensions, and identify the specific columns that contain facts you want to measure.

In [12]:
%load_ext sql
!echo 'redspot' | sudo -S service postgresql restart
!createdb -U dbuser BaltimoreCrime
%sql postgresql://dbuser@localhost:5432/BaltimoreCrime

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
[sudo] password for jovyan: Restarting PostgreSQL 9.5 database server: main.
createdb: database creation failed: ERROR:  database "BaltimoreCrime" already exists

'Connected: dbuser@BaltimoreCrime'

In [13]:
%%sql
DROP TABLE IF EXISTS BaltimoreCrime;
CREATE TABLE BaltimoreCrime (
    CrimeDate TIMESTAMP,
    CrimeTime VARCHAR(64),
    CrimeCode VARCHAR(64),
    Location VARCHAR(64),
    Description VARCHAR(64),
    Inside/Outside VARCHAR(64),
    Weapon VARCHAR(64),
    Post INTEGER,
    District VARCHAR(64),
    Neighborhood VARCHAR(64),
    Location_1 VARCHAR(64),
    Total_Incidents INTEGER
)

(psycopg2.OperationalError) terminating connection due to administrator command
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
 [SQL: 'DROP TABLE IF EXISTS BaltimoreCrime;']

In [14]:
%%sql
COPY BaltimoreCrime FROM '/home/jovyan/work/rows.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

(psycopg2.ProgrammingError) relation "baltimorecrime" does not exist
 [SQL: 'COPY BaltimoreCrime FROM \'/home/jovyan/work/rows.csv\'\nCSV\nHEADER\nQUOTE \'"\'\nDELIMITER \',\';']

## Problem 3 - define a star schema, and load your data into it (30 points)

Define a star schema consisting of at least one fact table and at least two dimensions.  Transform your source data into the new fact table and dimensions.  Discuss your key modeling decisions.

Document your star schema with a diagram.  There several tools available for this, such as Google Docs and Microsoft Visio.

## Problem 4 - explore your data in its new schema (30 points)

Strictly using the dimensional model tables you defined and populated for Problem 3, explore your data in its new form.  Use any of the query strategies we've seen in class, including transformations, aggregates, subqueries, rollups, and, of course, joins.  Add plots to highlight particular themes that stand out.  Describe your thinking and observations along the way.

## Bonus (10 points for one of A or B)


### Option A - Automating ETL

Consider the work you did to load your original raw dataset and then transform it into a dimensional model for analysis.  What would it take to automate this process?  How often would you need to update the data?  Could you easily automate any data cleaning steps?  What checks would you need to put in place to ensure quality?  Would humans need to be involved, or could you automate it all?

Discuss.


### Option B - Augmenting dimensions

Considering your dimensional model, what external data could you find to augment it?  As in the case of bike trips, where weather might provide an interesting added dimension/context not present in the original data, you can probably find another source of data to complement your own model.  Identify one such source and add it to your model, demonstrating its value with a few new queries.